body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.buttons {
    margin-left: -1%;
    margin-top: 5px;
}

.msg {
    color: black;
    margin-bottom: 20px;
}

.error{
    background: rgb(0, 204, 255);
    color: black;
    padding: 3px;
    border: 2px solid seagreen;
    width: 40%;
    border-radius: 10px;
    text-align: center;