* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#container {
    position: relative;
    background-color: #000000;
    height: 100vh;
    color: limegreen;
    font-size: 1.8rem;
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}

#container p {
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    width: 100%;
    padding: 0px 20px;
}

#jokes-container {
    height: 200px;
}

#loadjokebtn{
    background-color: transparent;
    border: 1px solid limegreen;
    color: limegreen;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px auto;
    display: block;
    /* flex-direction: column; */
}

#loadjokebtn:hover {
background-color: limegreen;
color: #000000;
border: 3px solid rgb(81, 73, 73);
border-radius: 10px;
}

#chuck{
    position: absolute;
    height: 300px;
    width: 300px;
    margin: 20px;
}