* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #C5E4E7;
}

section {
    display: grid;
    place-content: center;
    height: 100vh;
}

/* .container{
    background-color: red;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    display: block;
    align-content: center;
    margin-top: 20px;

} */

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: bolder;
    font-size: larger;
    color: #416668;
    margin-top: 300px;  
    padding-inline: 60px; 
    margin-left: 35%; 
}

.white {
    background-color: #FFFFFF;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    padding-inline: 30px;
    padding-top: 20px;
    margin-top: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.green {
    position: relative;
    background-color: #00474B;
    height: 270px;
    width: 250px;
    bottom: 285px;
    left: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.bill {
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #4A6B6A;
}

#dollar {
    padding: 5px;
    margin-top: 5px;
    width: 50%;
    background-color: #ECF1F4;
    border: none;
    font-family: monospace;
    text-align: right;
    cursor: pointer;     
}

#dollar::placeholder {
    color: #A6B8B9;
}
.tip {
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #4A6B6A;
}

button {
    padding: 11px;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #00474B;
    color: #FFFFFF;
    font-family: monospace;
    font-weight: 900;
    line-height: 10px;
    border: none;
    cursor: pointer;
}

.nop {
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: #4A6B6A;
}

.nopp {
    padding: 5px;
    margin-top: 5px;
    width: 50%;
    background-color: #ECF1F4;
    border: none;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    color: #A6B8B9;
}

.tipamount {
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 17px;
    display: flex;

}

h4 {
    padding: 10px;
    white-space: nowrap;
    position: relative;
}

.para{
    color: #4A6B6A;
    position: absolute;
    margin-top: 30px;

}

.paul {
    margin: 5px;
}

.peter {
    margin: 5px;
    margin-left: 55px;
    /* white-space: nowrap; */
}

.cta {
    font-size: 20px;
    margin-bottom: 15px;
    color: #2CC1AD;
}

.reset {
    background-color: #0D686D;
    width: 200px;
    color: #00474B;
}

.reset.disabled {
    background-color: #0D686D;
    width: 200px;
    color: #00474B;
    cursor: not-allowed;
}

.set {
    bottom:450px;
    margin-top: 100px;
    left: 20px;
    position: relative;
    left: 341px;
}

.icon {
    position: absolute;
    padding: 10px;
}

#msg {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

.error {
    background: #00474B;
    padding: 3px;
    border: 2px solid white;
    width: 50%;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 25%;
}

@media screen  and (max-width:768px) {
    .white {
        width: 80%;
        flex-direction: column;
    }
    /* .white, .green{
        width: 100%;
    } */
}