body{
    background-color: rgb(30, 156, 156);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 4px aquamarine solid;
}
h1,h3,h4{
    background-color: orangered;
    border: 2px solid black;
    margin: 20px;
    text-align: right;
}
h1{
    text-align: center;
    background-image: url(cloud.gif);
    color: black;
} 
h2{
    color: blueviolet;
    text-decoration: underline;
}
p{
    background-color: #e5e4d7;
    line-height: 1.5em;
    margin-top: 50px;
    background-image: url(cloud.gif);
    border-radius: 10px;
}
.gold{
    color: gold;
}
.underline {
    text-decoration: underline;
}
p.blue{
    color: blue;font-size: 20px;
    font-style: italic;
}
.green{
    color: green;
}
th.white{
    color: wheat;
}
li.white{
    color: white;
    text-decoration: underline;
}
input.pink{
    color: pink; 
    background-color: aqua;
}
option.blue{
    color: blue;
    background-color: green;
}
option.green{
    color: green;
    background-color: blue;
}
select.yellow{
    color: yellow;
    background-color: red;
}
.imagec{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: silver;
}  

.imageb{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
}

#para7homepage {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 20px;
    border-bottom-style: dotted; color: red;
    margin: 20px 50px 400px;
    border-radius: 10px;
}

#divform {
    color: green;
}

.highlight {
    background-color: rgb(178, 34, 166);
    font-size: 15px;
    font-weight: bolder;
}

.maxxi{
    color:
    text-decoration: underline;
}

a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: #f15a51;
}


