* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #08c7f224;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #178dad;
    color: #ddd5cb;
}

nav ul {
    list-style: lower-greek;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none ;
    color: white;
}

nav a:hover {
    color: darkred;
}

.hero {
    background-image: url(masi.jpeg);
    background-size: contain;
    background-position: center;
    color: #022722;
    text-align: center;
    padding: 10%;
}

.hero h1 {
font-size: 2.5em;
margin-bottom: 20px;
}

.cta-button {
    background-color: #40556a;
    color: #ddd5cb;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #182b44;
    border-radius: 10%;
}

.about, .menu {
    padding: 50px 20px;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

footer {
    background-color: #5d728d;
    color: white;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    border-width: 200px;
}

.social-icon img {
    width: 30px;
    margin: 0 10px;
}

@media (max-width: 768px) {


header {
    flex-direction: column;
    align-items: center;
}

.menu-item {
    flex-direction: column;
    align-items: center;
}

            