 body{background-color: rgb(30, 156, 156);font-family: Arial, Helvetica, sans-serif;font-weight: bolder;border: 2px solid black;font-size: 25px;}
            h1,h3,h4{background-color: orangered;border: 2px solid black;}
            h1{text-align: center;font-size:;} 
            h2{color: blueviolet;text-decoration: underline;text-align: none;font-size:;}
            p{background-color: powderblue;}
            .gold{color: gold;}
            .underline {text-decoration: underline;}
            p.blue{color: blue;font-size: 20px;font-style: italic;}
            .green{color: green;}
            th.white{color: wheat}
            li.white{color: white;text-decoration: underline;}
            input.pink{color: pink; background-color: aqua;}
            option.blue{color: blue;background-color: green;}
            option.green{color: green;background-color: blue;}
            select.yellow{color: yellow;background-color: red;}
            


            