*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.body1 {
    background-color:#e58b36;
    color: #e3693f;
    padding: 20px;
    border: 1px, solid white;
    width: 30%;
    margin: 400px;
    margin-top: 40px;
    height: 321px;
}   

h1 {
    padding-bottom: 25px;
    text-align: center;
}

.cta {
padding: 3px;
width: 83%;
color: white;
background-color: #936548;
border-radius: 3px;
height: 30px;
}

label {
    position: absolute;
    margin: -18px;
    margin-left: 1px;
}

#my-form {
    margin: 5px;
    padding-inline: 10px;
    border-radius: 5px;
}

input {
    margin: 5px;
    width: 80%;
    font-size: large;
}

ul {
    list-style: none;
    position: relative;
    display: block;
    margin: -26px;
    padding-left: 3px;
    padding-top: 40px;
}

.item {
    width: 99%;
    border: 3px solid white;
    margin: 20px;
    padding-left: 20px;
}

.msg{
    margin-bottom: 20px;
}

.error{
    background: red;
    color: #fff;
    padding: 3px;
    border: 2px solid seagreen;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

li{
    padding-left: 20px;

}
