* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.b1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #08c7f224;
}

.b2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(cloud.gif);
    background-position: center;
    background-size: cover;
}

.form {
    position: relative;
    max-width: ;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(30%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}

#head-title {
    font-size: 30px;
    color: #5d728d;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 3px;
    left: 4px; 
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: 5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;  
    outline: none;
    border: none;
    font-size: 10px;
    padding: 0 35px 0 5px;
    color: #fff;
    font-size: 1rem;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color:#fff;
    font-size: 1.2rem;
    top: 20px;
}

.forget {
    margin: 35px 0;
    font-size: 0.85rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label input{
    margin-right: 3px;
}

.forget a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.forget a:hover {
    text-decoration: underline;
    color: #318299;
}

.Login {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.4s ease;
    color: #40556a;
}

button:hover {
    background-color: rgb(255, 255, 255, 0.5);
}
.Register{
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.Register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.Register a:hover {
    color: blue;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #318299;
    color: #ddd5cb;
    font-size: larger;   
}

nav ul {
    list-style: lower-greek;
    display: flex;
    gap: 30px;
    
}

nav a {
    text-decoration: none ;
    color: white;
}

nav a:hover {
    color: darkred;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: rgb(172, 172, 245);
}


.hero {
    background-image: url(masi.jpeg);
    background-size: contain;
    background-position: center;
    color: #022722;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
font-size: 2.5em;
margin-bottom: 20px;
}

.cta-button {
    background-color: #40556a;
    color: #ddd5cb;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #182b44;
    border-radius: 10%;
}

.about, .menu {
    padding: 50px 20px;
    text-align: center;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

footer {
    background-color: #5d728d;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border-width: 200px;
    
}

.social-icon img {
    width: 30px;
    margin: 0 10px;
}

@media (max-width: 768px) {


header {
    flex-direction: column;
    align-items: center;
}

.menu-item {
    flex-direction: column;
    align-items: center;
}

            